blinker==1.4
Click==7.0
coverage==4.5.1
Flask==1.0.2
Flask-DebugToolbar==0.10.1
Flask-SQLAlchemy==2.3.2
itsdangerous==1.1.0
Jinja2==2.10
joblib==0.12.5
MarkupSafe==1.0
numpy==1.15.4
pkg-resources==0.0.0
psycopg2==2.7.5
scikit-surprise==1.0.6
scipy==1.1.0
six==1.11.0
SQLAlchemy==1.2.13
Werkzeug==0.14.1
