<!DOCTYPE html>
<html>
<head>
    <title>NextBook</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>


<body>
    NextBook
    <div class="topnav">
        <a class="active" href="/">Home</a> 
      <!--todo remove and add class active current page basis -->
        <a href="/search">Search</a>
        <a href="/books">Books</a>
        {% if 'user_id' not in session %}
            <div class="login-container">
                <form action="/login" method="POST">
                    <input type="text" placeholder="Email" name="email" required>
                    <input type="password" placeholder="Password" name="password" required>
                    <button type="submit">Login</button>
                </form>
            </div>
        {% else %}
            <div class="login-container">
            <form action="/logout">
              <button type="submit">Logout</button>
            </form>
          </div>
        {% endif %}
    </div>
    
        
    <hr>

    {% for flash in get_flashed_messages() %}
        {{ flash }}
    {% endfor %}
    
    {% block content %} content goes here {% endblock %}

</body>
</html>