

<script crossorigin src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>

<script src="/static/js/Book.jsx" type="text/jsx"></script>



<!-- Mount your react components on to this element. -->
<div id="root"></div>
