{% extends 'base.html' %}
{% block content %}

  <div id="book-title">
    <h1>{{ book.title }}</h1>
  </div>

  <div id="book-author">
  {{ book.author }}
</div>

  <div id="book-isbn">
  {{ book.isbn }}
</div>

  <!-- actually this if needs to happen only if the response is succesful and only returns one result -->


  {% if book.isbn %}
    <div id="book-genre">Genres: 
      <span id="genres">Not Available 
      </span>
    </div>

    <div id="book-img">
      <span id ="cover-img"><img src=" " alt="Cover photo" id="cover-thumbnail">
      </span>
    </div>

    <div id="book-summary">Summary: 
      <span id="summary"> 
        <div>
        <p>Not available</p>
      </div>
      </span>
    </div>
  {% endif %}


  
  {% if avg_rating != None %}
      <p>Average rating: {{ avg_rating }} / 5</p>
  {% endif %}

  
  {% if "user_id" in session %}
      <h2>Your Rating</h2>

    {% if user_rating and user_rating != None %}
        <p>You rated {{ book.title }} a {{ user_rating.score }}/5</p>

    {% endif %}
      <h2>Rate {{ book.title }}!</h2>
      <form action="/books/{{ book.book_id }}" method="POST">
          <label>Rating:</label>
          <input type="radio" name="submitted_rating" value="1"> 1
          <input type="radio" name="submitted_rating" value="2"> 2
          <input type="radio" name="submitted_rating" value="3"> 3
          <input type="radio" name="submitted_rating" value="4"> 4
          <input type="radio" name="submitted_rating" value="5"> 5
          <input type="submit" value="Rate">
      </form>

  {% endif %}

  {% if book.ratings %}
      <h2>Past Ratings By All Users</h2>
      <ul>
        {% for rating in book.ratings %}
          <li>
            <a href="/users/{{ rating.user_id }}">{{ rating.user_id }}</a>
                rated {{ rating.score }}/5
          </li>
        {% endfor %}
      </ul>
  {% endif %}

<!-- this script is redundant, response already gotten on server side, could instead jsonify the response, create instance methods on Book that could be summary, cover image and genres, then just use dot notation here in template (i.e. {{ book.summary }}) -->
  <script> 

    const query_url = '{{ response.url }}'; 

    function retrieveInfo() {
      $.get(query_url, displayResults)
      }

    function displayResults(data) {
      console.log(data)
      $('span#summary').html(data.items[0].volumeInfo.description)
      $('img#cover-thumbnail').attr('src', data.items[0].volumeInfo.imageLinks.smallThumbnail)
      $('span#genres').html(data.items[0].volumeInfo.categories)
    }

    $(retrieveInfo())
  
  </script>

{% endblock %}
