{% extends 'base.html' %}
{% block content %}

<h2>I think you might like:</h2>
<ul>
    {% for rec in recommendation_lst %}
        <li>
            <div id="book-title">
            <h1><a href="/books/{{ rec.book_id }}">{{ rec.title }}</a></h1>
            </div>

            <div id="book-author">
            <a href="/authors/{{ rec.author }}">{{ rec.author }}</a>
            </div>
            

            {% if rec.book_id in rec_excerpt_dict %}
            <br>
            <div id="book-excerpt">
               First Line: {{ rec_excerpt_dict[rec.book_id] }} ...
            </div>
            <br>
            {% endif %}

            {% if rec.book_id in recommendation_info_dict %}
                <br>
                <div id="book-img">
                    {% if 'thumbnail' in recommendation_info_dict[rec.book_id]["items"][0]["volumeInfo"]["imageLinks"] %}
                        <span id ="cover-img"><img src='{{ recommendation_info_dict[rec.book_id]["items"][0]["volumeInfo"]["imageLinks"]["thumbnail"] }}' alt="Cover photo" id="cover-thumbnail">
                        </span>
                    {% endif %}
                </div>

                <br>
                <div id="book-summary">
                    {% if 'description' in recommendation_info_dict[rec.book_id]["items"][0]["volumeInfo"] %}
                        <span id="summary"> Summary:
                            <p>{{ recommendation_info_dict[rec.book_id]["items"][0]["volumeInfo"]["description"] }}</p>
                        </span>
                    {% endif %}
                </div>
                <br>
                <div id="book-library-link"><a href="{{ recommendation_link_dict[rec.book_id] }}">Find in your local library!</a>
                </div>
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% endblock %}