{% extends 'base.html' %}
{% block content %}

<h2>I think you might like:</h2>
<ul>
    {% for rec in recommendation_lst %}
        <li>
            <div id="book-title">
            <h1><a href="/books/{{ rec.book_id }}">{{ rec.title }}</a></h1>
            </div>

            <div id="book-author">
            {{ rec.author }}
            </div>

            <div id="book-isbn">
            {{ rec.isbn }}
            </div>

            {% if rec.isbn %}
                {% if recommendation_info_dict[rec.book_id]["totalItems"] == 1 %}
                    <div id="book-genre">Genres:
                        <ul id="genres">
                        {% for genre in recommendation_info_dict[rec.book_id]["items"][0]["volumeInfo"]["categories"] %}
                            <li> {{ genre }} </li>
                        {% endfor %}
                        </ul>
                    </div>

                    <div id="book-img">
                        <span id ="cover-img"><img src='{{ recommendation_info_dict[rec.book_id]["items"][0]["volumeInfo"]["imageLinks"]["smallThumbnail"] }}' alt="Cover photo" id="cover-thumbnail">
                        </span>
                    </div>

                    <br>
                    <div id="book-summary">Summary: 
                        <span id="summary"> 
                            <div>
                                <p>{{ recommendation_info_dict[rec.book_id]["items"][0]["volumeInfo"]["description"] }}</p>
                            </div>
                        </span>
                    </div>

                    <div id = "book-library-link">
                    {{ recommendation_link_dict[rec.book_id] }}
                    </div>
                    
                {% endif %}                
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% endblock %}