{% extends 'base.html' %}
{% block title %}
NextBook - Search
{% endblock %}

{% block content %}
<div>Search by title!</div>
<div>
<form id="search-by-title-form" method="get" 
action="/search-by-title.json">
    <div class="form-group">
        <label for="title-field">Title</label>
        <input type="text" 
               class="form-control" 
               name="title" 
               id="title-field" 
               placeholder="All Quiet on the Western Front">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary">
    </div>
</form>
</div>
<br>
<br>
<div>Search by author!</div>
<div>
<form id="search-by-author-form" method="get" 
action="/search-by-author.json">
    <div class="form-group">
        <label for="author-field">Author</label>
        <input type="text" 
               class="form-control" 
               name="author" 
               id="author-field" 
               placeholder="Octavia Butler">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary">
    </div>
</form>


<script src="/static/book-by-title.js"></script>
<script src="/static/book-by-author.js"></script>
</div>

<br>
<br>
<br>

<div id="results-from-search">
    <form id="results-from-search" method="post" action="/search">
        <div class="form-group">
            <ul id="bklist"></ul>
        <input type="submit" class="btn btn-primary">
        </div>
    </form>
    <script src="/static/chosen-books.js"></script>
</div>


<div class="sidebar" id="books-for-recommendations">
    <form id="books-for-recommendations" method="post" action="/search">
        <div class="form-group">
        <ul id="chosenbklist"></ul>
        <input type="submit" class="btn btn-primary">
        </div>
    </form>

</div>
{% endblock %}